{{#layout "app/views/layouts/layout.html" /}}
<h1>The Admin Page</h1>

<h2>Edit a Post</h2>
<ul>
	{{#each posts}}
		<li>
			<a href="/admin/delete/{{_id}}" class="delete">X</a> <a href="/admin/edit/{{_id}}">{{title}}</a>
		</li>
	{{/each}}
</ul>

<h2>Create a New Post</h2>
<form action="/admin/create" method="POST">
	<p>Title</p>
	<p>
		<input type="text" name="title" />
	</p>
	<p>Content</p>
	<p>
		<textarea name="content" rows="15" cols="100"></textarea>
	</p>
	<p><input type="submit" value="submit" /></p>
</form>