div.container {
	width: 900px;
	margin: auto;
	border: 1px #dddddd solid;
	overflow: hidden;
}

header {
	padding: 10px 10px 0px 10px;
	border-bottom: 1px #dddddd solid;
	font-size: 20px;
	text-align: right;
	font-weight: bold;
}

main {
	padding: 10px;
	position: relative;
	transition: left 1s, opacity 1s, -webkit-transform 1s;
	left: 0%;
	opacity: 1;
	-webkit-transform: rotateY(0deg);
}

main.right {
	left: 100%;
	-webkit-transform: rotateY(180deg);
}

main.left {
	left: -100%;
	-webkit-transform: rotateY(180deg);
}

@media (max-width: 920px) {
	div.container {
		width: 100%;
	}
}

@media (max-width: 768px) {
	body {
		margin: 0px;
	}

	div.container {
		border: 0px;
	}

	header {
		padding-top: 19px;
	}

	main {
		padding-left: 19px;
		padding-right: 19px;
	}
}